<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h5 class="mb-0">Camera Locations</h5>
            </div>
            <div class="card-body p-0">
                <div id="map" style="height: 500px;"></div>
            </div>
        </div>
    </div>
</div> 
<div class="column-container" *ngIf="vm">
    <div class="column">
        <div class="column-header">Cameras divisible by 3</div>
        <div class="column-content">
            <div *ngFor="let camera of vm.divisibleBy3" class="camera-item">
                <strong>#{{ camera.number }}</strong>: {{ camera.name }}<br>
                <small class="text-muted">{{ camera.latitude }}, {{ camera.longitude }}</small>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column-header">Cameras divisible by 5</div>
        <div class="column-content">
            <div *ngFor="let camera of vm.divisibleBy5" class="camera-item">
                <strong>#{{ camera.number }}</strong>: {{ camera.name }}<br>
                <small class="text-muted">{{ camera.latitude }}, {{ camera.longitude }}</small>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column-header">Cameras divisible by 3 & 5</div>
        <div class="column-content">
            <div *ngFor="let camera of vm.divisibleBy3And5" class="camera-item">
                <strong>#{{ camera.number }}</strong>: {{ camera.name }}<br>
                <small class="text-muted">{{ camera.latitude }}, {{ camera.longitude }}</small>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="column-header">Other cameras</div>
        <div class="column-content">
            <div *ngFor="let camera of vm.notDivisible" class="camera-item">
                <strong>#{{ camera.number }}</strong>: {{ camera.name }}<br>
                <small class="text-muted">{{ camera.latitude }}, {{ camera.longitude }}</small>
            </div>
        </div>
    </div>
</div>